#view-progress
    position: relative

    #btn-cancel
        position: absolute
        top: 7.5%
        right: 15%
        
        z-index: 1000
        
    #pages-carousel
        height: 85%


.parsing
    background-color: #eff0f2
    border-radius: 6px
    
    width: 60%
    padding: 0.5% 0
    margin: 5% 20%
    
    .url
        margin: 2.5% 0
        
    .progress, 
    .result
        width: 70%
        margin-left: 15%
        margin-bottom: 1.5%