#view-inputs
    padding: 15% 0
    
    #urls-widget
        padding: 0 3.5%    

        #urls-listview
            height: 30vh
            
            #table-wrapper
                height: inherit
                overflow-y: auto
                
                padding: 0
                
                border: 1px solid rgba(221, 221, 221, .2)

                table
                    border-right: 1px solid rgb(221, 221, 221)
                    border-left:  1px solid rgb(221, 221, 221)
                    
                    tbody
                    
                        tr 
                            border-bottom: 1px solid rgb(221, 221, 221)
            
        #inputs-wrapper  
            padding: 0
        
        #btn-process
            margin-top: 2.5vh
            
    #process-controls
        padding: 0 3.5%